<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lk.slmatrimony"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.INTERNET"/>
   
   

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.lk.slmatrimony.activities.SplashScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lk.slmatrimony.activities.HomeActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.lk.slmatrimony.activities.LoginActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.lk.slmatrimony.activities.SignUpActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.lk.slmatrimony.activities.SearchAcivity"
            android:label="@string/search" >
        </activity>
        
         <activity
            android:name="com.lk.slmatrimony.activities.ProfileActivity"
            android:label="@string/search" >
        </activity>
        

      
    </application>

</manifest>